// Variables

$col: column;
$ctr: center;
$spEv: space-evenly;
$hundo: 100%;

// Mixins/Functions

@mixin flexCol() {
    display: flex;
    flex-direction: $col;
}

@mixin flexRow() {
    display: flex;
    flex-direction: row;
}

@mixin ctr-ctr() {
    justify-content: $ctr;
    align-items: $ctr;
}

@mixin even() {
    justify-content: $spEv;
    align-items: $ctr;
}

@mixin fullWH() {
    width: 100vw;
    height: 100vh;
}

@mixin body-child {
    width: $hundo - 10%;
}

// Global Selectors

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

header, main, footer {
    @include body-child();
}

body {
    font-family: 'Coda';
    align-items: $ctr;
    @include flexCol();
    @include fullWH();
    header {
        @include flexCol();
        &, nav, ul {
            width: $hundo;
        }
        nav {
            ul {
                @include flexRow();
                justify-content: $spEv;
            }
        }
    }
    main {
        &, section {
            @include flexCol();
        }
    }
}

#skills {
    .skill {
        @include flexCol();
    }
}
